280NPLIST;1.0;D;K;18;CPBundleIdentifierS;30;cl.martoq.cappuccino.AldrinKitK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;9;AldrinKitK;19;CPBundlePackageTyped;1;1K;15;CPBundleVersionf;3;0.1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;12;AldrinKit.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;